.gm-style-iw-chr {
    display: none;
}

.gm-style .gm-style-iw-c {
    padding: 0;
}

.gm-style-iw-d {
    overflow: hidden !important;
}

.property-popup {
    width: 13rem;
    height: 14rem;
}

#saleModalSpy {
    .nav-link.active {
        color: #000;
    }
}

#map {
    position: relative;
    width: 100%;
    /* this height must be same as in scrollable/map class or give body overflow:hidden */
    height: calc(100vh - 130px);
    transition: all 0.3s ease-in-out;
}

.zoom-message {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 14px;
    z-index: 1000;
}

#map-options {
    position: absolute;
    top: 10px;
    right: 10px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    z-index: 1000;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#map-options h5 {
    margin-bottom: 10px;
    font-weight: bold;
}

#map-options label {
    display: block;
    margin-bottom: 8px;
    cursor: pointer;
}

.carousel-indicators button {
    width: 5px !important;

    height: 5px !important;
    border-radius: 50% !important;
}

/* Make the section scrollable */
.scrollable {
    /* this height must be same as in scrollable/map class or give body overflow:hidden */
    height: calc(100vh - 130px);
    overflow: auto;
    transition: all 0.3s ease-in-out;
}

.featureContainer {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .featureContainer {
        width: 750px;
    }
    .input-group-width{
        width: 30%;
    }
}

@media (min-width: 992px) {
    .featureContainer {
        width: 970px;
    }
    .input-group-width{
        width: 40%;
    }
}

@media (min-width: 1200px) {
    .featureContainer {
        width: 1170px;
    }
}

@media (max-width: 767px) {
    .property-popup {
        width: 10rem;
        height: auto;
    }

    #map {
        /* this height must be same as in scrollable/map class or give body overflow:hidden */
        height: calc(100vh - 150px);
    }

    .scrollable {
        display: none;
    }

    .featureContainer .carousel-inner .carousel-item > div {
        display: none;
    }

    .featureContainer .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.featureContainer .carousel-inner .carousel-item.active,
.featureContainer .carousel-inner .carousel-item-next,
.featureContainer .carousel-inner .carousel-item-prev {
    display: flex;
}

@media (min-width: 768px) {
    .featureContainer .carousel-inner .carousel-item-end.active,
    .featureContainer .carousel-inner .carousel-item-next {
        transform: translateX(25%);
    }

    .featureContainer .carousel-inner .carousel-item-start.active,
    .featureContainer .carousel-inner .carousel-item-prev {
        transform: translateX(-25%);
    }

    .featureContainer .carousel-item {
        justify-content: space-between;
    }
}

.featureContainer .carousel-inner .carousel-item-end,
.featureContainer .carousel-inner .carousel-item-start {
    transform: translateX(0);
}

.featureContainer .card {
    border: 0;
}

.featureContainer .card {
    position: relative;
}

.featureContainer .card .card-img-overlays {
    position: absolute;
    bottom: 15%;
    left: 10%;
}

.featureContainer a {
    text-decoration: none;
}

.featureContainer .indicator {
    border: 1px solid rgb(202, 202, 202);
    padding: 3px 6px 3px 6px;
}

.featureContainer .indicator:hover {
    background-color: blue;
    border: 1px solid blue;
    transition: 200ms;
}

.featureContainer .indicator:hover {
    color: white;
    transition: 200ms;
}

.featureContainer .indicator {
    color: lightgray;
}

.featureContainer .float-end {
    padding-top: 10px;
}

.score-circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #4caf50;
    /* Green color */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: white;
    margin-right: 20px;
}

.info-card {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 15px;
    border: 1px solid #eaeaea;
    background-color: #f8f9fa;
    border-radius: 8px;
}

.info-card i {
    font-size: 15px;
    margin-right: 10px;
}

/* Remove dropdown icon */
.nav-item.dropdown a.nav-link::after {
    content: none;
}

/* Show dropdown on hover */
.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}
.dropdown .btn-outline-light:hover{
    background-color: #f1f1f4;
}

/* Optional: Prevent dropdown menu from hiding on mouseout */
.nav-item.dropdown .dropdown-menu {
    display: none;
    position: absolute;
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
    position: absolute;
    z-index: 1000;
}

/* Make the dropdown menu full-width and responsive */
.dropdown-menu {
    max-width: 100vw;
    /* Ensure the menu doesn't exceed the screen width */
    left: 0;
    /* Align to the left */
    right: 0;
    /* Align to the right */
    margin: 0 auto;
    /* Center the mega menu */
}

/* Ensure the container doesn't overflow */
.mega-content .container-fluid {
    max-width: 100%;
    /* Adjust as per your design */
}

@media (max-width: 767px) {
    .mega-content {
        overflow: auto;
        height: 80vh;
    }
    .border-bottom-md {
        border-bottom: 1px solid #e5e5e5;
    }
}
